<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Bulma/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/employee_css.css') }}">
</head>

<body>
    {% if message != "" %}
    <div class="has-background-success-1 messagebox has-text-primary-15 message">{{ message }}</div>
    {% endif %}
    <div class="main">
        <section class="header-section hero is-info has-background-success-light">
            <div class="hero-body">
                <p class="title">Employee Information System</p>
                <p class="subtitle">Divine Grace B. Valdez</p>
            </div>
        </section>

        <div class="sidebar">
            <ul class="menu-list has-text-left">
                <li><a class="has-text-primary-15" href="emlist.html">Employee List</a></li><br><br>
                <li><a class="has-text-primary-15" href="pin.html">Personal Information</a></li><br><br><br>
                <li><a class="has-text-primary-15" href="edin.html">Educational Information</a></li><br><br><br>
                <li><a class="has-text-primary-15" href="woe.html">Work Experience</a></li><br><br>
                <li><a class="has-text-primary-15" href="tr.html">Trainings</a></li><br><br>
                <li><a class="has-text-primary-15" href="index.html">Log Out</a></li><br><br>
            </ul>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <form action="/update-employee" method="POST">
                    {% for employee in employees %}
                    <tr>
                        <td><input class="input" type="text" name="emp_id" value="{{ employee[0] }}" readonly></td>
                        <td><input class="input" name="lname" type="text" value="{{ employee[1] }}" required></td>
                        <td><input class="input" name="fname" type="text" value="{{ employee[2] }}" required></td>
                        <td><input class="input" name="mname" type="text" value="{{ employee[3] }}" required></td>
                        <td>
                            <button class="button is-link" type="submit">Update</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
</body>

</html>